body{
    font-family: Verdana;
    font-size: 2em;
    background-color: rgb(54, 25, 122);
}
#result{
    text-align: center;
    display: block;
    font-size: 5em;
}
#buttons {
    text-align: center;   
}
button {
    font-size: 2em;
    width: 2em;
    height: 2em;
    margin: 10px;
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(94, 49, 92);
    transition: background-color 0.25s;
}
button:hover{
    background-color: rgb(155, 88, 175);
}