body{
    font-family: Verdana;
    font-size: 2em;
    background-color: rgb(54, 25, 122);
}
#result{
    text-align: center;
    display: block;
    font-size: 5em;
}
#buttons {
    text-align: center;   
}
button {
    font-size: 2em;
    width: 2em;
    height: 2em;
    margin: 10px;
}